

/*-----------------------------------------------Basics---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@450');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: rgb(112, 112, 112);
}

.p {
  text-align: justify;
}

/*-----------------------------------------------------------Header/navigation bar-----------------------------------------------------------*/


.navbar-nav li {
 
  font-family: 'Poppins', sans-serif;
 
  }

.nav-link {
  font-size: 1.3em !important ;

}

.header-img {
  height: 80px;
  }

/*-----------------------------------------------------------HOME-----------------------------------------------------------*/

/*----------Carousel------------*/


.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position : absolute;
  top: 50%;
  transform: translateY(-50%);

}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000 ; 
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500%;
  text-shadow: 1px 1px 15px #000;
  padding-bottom: 1rem;
}
.btn-light,
.btn-primary {
  background-color: #20c996ce;
  border-color: #20c997;
  padding: 15px 20px;
}
.btn-success:focus, 
.btn-success:active,
.btn-success.active,

.btn-primary:hover {
  background-color:  rgba(231, 80, 105, 0.801);
  border: none;
}


.link-menu {
  color: #f8f9fa;
}




/*------------Jumbotron-----------*/

  .lead {
    color: rgb(112, 112, 112);
  }
.btn-secondary {
  background-color: #20c997;
  border-color: #20c997;
  padding: 10px 10px;
}
.btn-secondary:hover {
  background-color:  rgb(231, 80, 105);
  border: none;
}

.jumbotron {
padding: 2rem;
background-color: white
}

.padding {
padding: 2rem;
}

.container_1 {
padding: 2rem;
}

/*------------------Panels/Cards-----------------*/
.shadowcard{
  background-color: rgb(231, 80, 105);
  position: relative;
  display: flex;
  flex-direction: column;
   min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
   border: 1px solid rgba(37, 37, 37, 0.125);
  border-radius: .25rem;
}

.card-img {
  align-self: center;
  padding-top: 16px;
  width: 70%;
  height: 80%;
 
}

.card-body {
  color: aliceblue;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.card-title{
  font-size: 20px;

}
  
.btn-light {
  background-color:#20c997;
  border: none;
}

.btn-secondary {
  background-color: #20c997;
  border: none;
}

.container_1 
{
  background-image: url("img/background-pitaya3.jpg");
  background-repeat: no-repeat;
  background-size:cover;

}
/**---------------------------------------------------------MENU-----------------------------------------------------------------*/

.back_image {
  background-image: url(img/background-pitaya2.jpg);
  background-repeat: no-repeat;
}
.container-fluid-menu {
  background-color: white;
  margin-top: 2rem;
}

/**-----This display if for every pages---*/

.display-4 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 20px;
 
  text-shadow: 1px 1px 1px ;
  color: rgb(231, 80, 105);
}

.justify-content-center {
  justify-content: center!important;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.menu-content{
  margin-top: 1rem;
}

.menu-title {
font-family: 'Staatliches', cursive;
letter-spacing: 10px;
text-align: center;
color: #20c997;
text-shadow: 1px 1px 1px ;

margin-top: 1rem;
}

/**---------------------------------------------------------GALLERY----------------------------------------------------------------*/

.container-fluid-gallery {
  background-color: white;
  margin-top: 0,5rem;
}




/*-------------------------------------------------------INFOS---------------------------------------------------------------------*/
/*----Our Team----*/

.card-text-1 {
  color:rgb(112, 112, 112);
}
.card-title-1 {
  color:rgb(112, 112, 112)

}

.infos {
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px;
  text-align: justify;
  color: #20c997;
  text-shadow: 1px 1px 1px;
  margin-top: 1rem;
}

.card-text-1 {
  color: white;
}
.card-title-1 {
  color: white;
}


/**---------------------------------------------------------CONTACT----------------------------------------------------------------*/

.mt-5-contact {
 background-color: rgba(243, 69, 98, 0.911);
 padding: 20px 25px 20px 25px;
 margin-top: 10px;
 margin-bottom: 40px;
 border-radius: 15px;
}

.form-control {
  margin-bottom: 30px;
}

.contact-title {
  color: white;
  margin-bottom: 30px;
}

.form-label {
  color: white;
}


/*----------------------------------------------------------FOOTER--------------------------------------------------------------*/

.footer-img {
  width: 60%;
}

footer {
  background-color: #f8f9fa!important;
}




/*---------------------------------------------------------Media Queries ----------------------------------------------------------*/

@media only screen and (max-width: 768px) {
.carousel-caption {
  top: 30%;
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000 ; 
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500%;
  text-shadow: 1px 1px 15px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #20c996ce;
  border-color: #20c997;
  padding: 15px 20px;
}
.btn-success:focus, 
.btn-success:active,
.btn-success.active,
.btn-primary:hover {
  background-color:  rgba(231, 80, 105, 0.801);
  border: none;
}

.nav-link {
  font-family: 'poppins', sans-serif;
  font-size: 1.1em !important ;
 text-align: center;
}
}

.lead {
  color: rgb(112, 112, 112);
  
}

.cocktail-title {
  padding-left: 20px;
  
  }
  
  .cocktail-ingredient{
    padding-left: 20px;
    }
  
  .price {
  padding-left: 20px;
  }

.display-4 {
  font-size: 40px;
}


/**---Small sreens----**/

@media only screen and (max-width: 300px) {

.header-img {
  height: 50px;
  }

  .carousel-caption h1 {
    font-size: 200%;
}

.carousel-caption h3 {
  font-size: 100%;
}

.carousel-caption .btn {
  font-size: 80%;
  padding: 10px 15px;
}

.cocktail-title {
padding-left: 20px;

}

.cocktail-ingredient{
  padding-left: 20px;
  }

.price {
padding-left: 20px;
}

.carousel-caption h3 {
padding-bottom: 0;

}





/*-----------------------Firefox Bug Fix -------------------------*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}












